angry-animate{
-webkit-animation:shake 4s ease-in-out 0s 1 normal;
-moz-animation:shake 4s ease-in-out 0s 1 normal;
-ms-animation:shake 4s ease-in-out 0s 1 normal;
animation:shake 4s ease-in-out 0s 1 normal;
}

@-webkit-keyframes shake {
0%{ transform: rotate(-15deg); -webkit-transform: rotate(-15deg); }
2%{ transform: rotate(15deg); -webkit-transform: rotate(15deg); }
4%{ transform: rotate(-18deg); -webkit-transform: rotate(-18deg); }
6%{ transform: rotate(18deg); -webkit-transform: rotate(18deg); }
8%{ transform: rotate(-22deg); -webkit-transform: rotate(-22deg); }
10%{ transform: rotate(22deg); -webkit-transform: rotate(22deg); }
12%{ transform: rotate(-18deg); -webkit-transform: rotate(-18deg); }
14%{ transform: rotate(18deg); -webkit-transform: rotate(18deg); }
16%{ transform: rotate(-12deg); -webkit-transform: rotate(-12deg); }
18%{ transform: rotate(-12deg); -webkit-transform: rotate(-12deg); }
20%{ transform: rotate(0deg); -webkit-transform: rotate(0deg); }
}

@keyframes shake {
0%{ transform: rotate(-15deg); -ms-transform: rotate(-15deg); }
2%{ transform: rotate(15deg); -ms-transform: rotate(15deg); }
4%{ transform: rotate(-18deg); -ms-transform: rotate(-18deg); }
6%{ transform: rotate(18deg); -ms-transform: rotate(18deg); }
8%{ transform: rotate(-22deg); -ms-transform: rotate(-22deg); }
10%{ transform: rotate(22deg); -ms-transform: rotate(22deg); }
12%{ transform: rotate(-18deg); -ms-transform: rotate(-18deg); }
14%{ transform: rotate(18deg); -ms-transform: rotate(-18deg); }
16%{ transform: rotate(-12deg); -ms-transform: rotate(-12deg); }
18%{ transform: rotate(-12deg); -ms-transform: rotate(-12deg); }
20%{ transform: rotate(0deg); -ms-transform: rotate(0deg); }
}
Animation
Play/Stop ►

Select Animation 
shake
Function 
ease-in-out
speed duration(sec)
4
start delay
0
iteration count
1 time
